header {
    font-size:1rem;
    background:$bg;

}
section[role=region] header {
    background:$bg;
}

section[role=region] header menu[type="toolbar"] {
    text-align:right;
    float:right;
    margin-right:0.4em;
}

section[role=region] header nav {
    float:left;
    padding: 0 5px;
}
section[role=region] header nav a {
    color:#999;
}

section[role=region] header menu .lsf {
    font-size:1.8em;
}
section[role=region] header a {
    color:#FFF;
}

section[role=region] header a.home {
    display:inline-block;
    font-size:1.8em;
    transition-duration:0.6s;
}
section[role="region"] header a.home.ondata
{
    color:gold;
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    transition-duration:0.6s;
}


section[role=region] header .titles {
    font-weight:bold;
    margin-right:1.8em;
}

section[role=region] header .titles h1 {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size:0.8em;
}

.cover_container img {
    max-height:7em;
    margin:1em;
    border:0.2em #FFF solid;
}

.cover_container {
    position:fixed;// !important;
    font-weight:bold;
    color:#FFF;
    //position:absolute;
    bottom:3.8em;
    left:0;
    right:0;
    background:$bg;
    top:1.7rem;
    padding-top:1em;
    text-align:center;
    z-index:3;
}

.discreet
{
    right:10000px;
}
.discreet *
{
    display:none;
}

#cover_container button{
    margin-top:1em;
    color:#FFF;
    text-shadow:none;
    background:transparent;
}
