header {
    font-size:1rem;
}
section[role=region] header {
    background:-moz-linear-gradient(top,#000,#123);
}

section[role=region] header menu[type="toolbar"] {
    text-align:right;
    float:right;
    margin-right:0.4em;
}

section[role=region] header nav {
    float:left;
    padding: 0 5px;
}
section[role=region] header nav a {
    color:#999;
}

section[role=region] header menu .lsf {
    font-size:1.8em;
}
section[role=region] header a {
    color:#FFF;
}

section[role=region] header a.home {
    display:inline-block;
    font-size:1.8em;
}

section[role=region] header .titles {
    margin-right:1.8em;
}

section[role=region] header .titles h1 {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size:0.8em;
}
