layout {

}


section[role=main] {
    margin-top:2rem;
    margin-bottom:4rem;
    padding:0 1rem;
}

section[role=region] header {
  width: 100%;
  position: fixed;
  top : 0;
  left: 0;
  z-index: 100;
  color:#EEE;
}

[role="toolbar"] {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  color:#EEE;
}
