/* ----------------------------------
* Toolbars
* ---------------------------------- */

[role=toolbar] {
  background:-moz-linear-gradient(top,#123,#000);
  opacity:0.8;

}

[role="toolbar"] ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align:center;
}


[role="toolbar"] li {
    display:inline-block;
}

[role="toolbar"] button {
  width: 4rem;
  border: none;
  background: transparent no-repeat 50% 50%;
  padding: 0;
  border-radius: 0;
  margin:0;
  color:#FFF;
  font-size:1.5rem;
  text-align:center;
}
