
/* ----------------------------------
* Toolbars
* ---------------------------------- */

[role=toolbar] {
  background:$bg;
}

[role="toolbar"] ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align:center;
  width:100%;
}


[role="toolbar"] li {
    display:inline-block;
    width:18%;
}

[role="toolbar"] button {
  width: 100%;
  border: none;
  background: transparent no-repeat 50% 50%;
  padding: 0;
  border-radius: 0;
  margin:0;
  color:#FFF;
  font-size:1.5rem;
  text-align:center;
}

[role="toolbar"] button.active {
  border-color: #008aaa;
  background: #008aaa;
  color: #333;
}
