@charset "UTF-8";
/*
    © barosofts, César & Rodrigue Villetard, 2013

    This file is part of FoxyMPD.

    FoxyMPD is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    FoxyMPD is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with FoxyMPD.  If not, see <http://www.gnu.org/licenses/>.
*/
/* line 8, ../scss/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 20, ../scss/sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 23, ../scss/sass/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 28, ../scss/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 32, ../scss/sass/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 36, ../scss/sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 41, ../scss/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 44, ../scss/sass/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 48, ../scss/sass/_reset.scss */
a {
  text-decoration: none;
}

@font-face {
  font-family: 'LigatureSymbols';
  src: url("../fonts/LigatureSymbols-2.11.eot");
  src: url("../fonts/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"), url("../fonts/LigatureSymbols-2.11.woff") format("woff"), url("../fonts/LigatureSymbols-2.11.ttf") format("truetype"), url("../fonts/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../scss/sass/_fonts.scss */
.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

/* line 32, ../scss/sass/_fonts.scss */
.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

@font-face {
  font-family: 'mozTT';
  src: url("../fonts/moztt_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mozTT';
  src: url("../fonts/moztt_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mozTT';
  src: url("../fonts/moztt_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* line 6, ../scss/sass/_layout.scss */
section[role=main] {
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding: 0 1rem;
}

/* line 12, ../scss/sass/_layout.scss */
section[role=region] header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #EEE;
}

/* line 21, ../scss/sass/_layout.scss */
[role="toolbar"] {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: #EEE;
}

/* ----------------------------------
 * Buttons
 * ---------------------------------- */
/* line 6, ../scss/sass/_buttons.scss */
a[role="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
  outline: none;
}

/* line 12, ../scss/sass/_buttons.scss */
button,
a[role="button"] {
  width: 100%;
  height: 3.8rem;
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #fafafa;
  border: 0.1rem solid #9f9f9f;
  border-radius: 0.3rem;
  font: 400 1.6rem/3.8rem 'MozTT', Sans-serif;
  color: #333;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  outline: none;
}

/* Press (default & recommend) */
/* line 39, ../scss/sass/_buttons.scss */
button:active,
button.active,
a[role="button"]:active,
button.recommend:active,
a.recommend[role="button"]:active {
  border-color: #008aaa;
  background: #008aaa;
  color: #333;
}

/* Recommend */
/* line 47, ../scss/sass/_buttons.scss */
button.recommend,
a[role="button"].recommend {
  background-color: #00caf2;
  border-color: #00acce;
}

/* Danger */
/* line 54, ../scss/sass/_buttons.scss */
button.danger,
a.danger[role="button"] {
  background-color: #b70404;
  color: #fff;
  text-shadow: -0.1rem -0.1rem 0 #830b0b;
  border: none;
}

/* Danger Press */
/* line 63, ../scss/sass/_buttons.scss */
button.danger:active,
a[role="button"].danger:active {
  background-color: #890707;
}

/* Disabled (default & recommend) */
/* line 71, ../scss/sass/_buttons.scss */
button[disabled],
a[role="button"][aria-disabled="true"],
button[disabled].recommend,
a[role="button"][aria-disabled="true"].recommend {
  background-color: transparent;
  border-color: #dadada;
  color: #bcbcbc;
  pointer-events: none;
}

/* Danger disabled */
/* line 80, ../scss/sass/_buttons.scss */
button[disabled].danger,
a[role="button"][aria-disabled="true"].danger {
  color: #fff;
  text-shadow: none;
  pointer-events: none;
}

/* ----------------------------------
 * Buttons inside lists
 * ---------------------------------- */
/* line 92, ../scss/sass/_buttons.scss */
li button,
li a[role="button"] {
  position: relative;
  background: #e7e7e7;
  border-color: #b6b6b6;
  text-align: left;
  font-weight: normal;
  /* For hacking box-shadows we need overflow:visible; so we lose text-overflows...*/
  white-space: normal;
  overflow: visible;
}

/* Hacking box-shadow */
/* line 105, ../scss/sass/_buttons.scss */
li button:after,
li a[role="button"]:after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  right: 0;
  height: 0.2rem;
}

/* Press */
/* line 116, ../scss/sass/_buttons.scss */
li a[role="button"]:active:after,
li button:active:after {
  opacity: 0;
}

/* Disabled */
/* line 122, ../scss/sass/_buttons.scss */
li button[disabled],
li a[role="button"][aria-disabled="true"] {
  background: #ededed;
  border-color: #d3d3d3;
  color: #a6a6a6;
  pointer-events: none;
}

/* line 132, ../scss/sass/_buttons.scss */
li button[disabled].icon:before,
li a[role="button"][aria-disabled="true"].icon:before,
li button[disabled]:after,
li a[role="button"][aria-disabled="true"]:after {
  opacity: 0.3;
}

/* Icons */
/* line 138, ../scss/sass/_buttons.scss */
li button.icon,
li a[role="button"].icon {
  padding-right: 3rem;
}

/* line 143, ../scss/sass/_buttons.scss */
li button.icon:before,
li a[role="button"].icon:before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1.5rem;
  background: transparent no-repeat center center / 100% auto;
  pointer-events: none;
}

/* ----------------------------------
 * Buttons inside lists, compact mode
 * ---------------------------------- */
/* line 169, ../scss/sass/_buttons.scss */
ul.compact,
ol.compact {
  margin-bottom: 1rem;
}

/* line 174, ../scss/sass/_buttons.scss */
.compact > li button,
.compact > li a[role="button"] {
  margin: -0.1rem 0;
  border-radius: 0;
}

/* line 180, ../scss/sass/_buttons.scss */
.compact > li:first-child button,
.compact > li:first-child a[role="button"] {
  border-radius: 0.3rem 0.3rem 0 0;
}

/* line 185, ../scss/sass/_buttons.scss */
.compact > li:last-child button,
.compact > li:last-child a[role="button"] {
  border-radius: 0 0 0.3rem 0.3rem;
}

/* line 189, ../scss/sass/_buttons.scss */
.delete {
  color: #FFF;
  background: red -moz-linear-gradient(top, #990000, #880011);
}

/* ----------------------------------
* Toolbars
* ---------------------------------- */
/* line 5, ../scss/sass/_toolbars.scss */
[role=toolbar] {
  background: -moz-linear-gradient(top, #112233, black);
  opacity: 0.8;
}

/* line 11, ../scss/sass/_toolbars.scss */
[role="toolbar"] ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* line 19, ../scss/sass/_toolbars.scss */
[role="toolbar"] li {
  display: inline-block;
}

/* line 23, ../scss/sass/_toolbars.scss */
[role="toolbar"] button {
  width: 4rem;
  border: none;
  background: transparent no-repeat 50% 50%;
  padding: 0;
  border-radius: 0;
  margin: 0;
  color: #FFF;
  font-size: 1.5rem;
  text-align: center;
}

/* line 1, ../scss/sass/_headers.scss */
header {
  font-size: 1rem;
}

/* line 4, ../scss/sass/_headers.scss */
section[role=region] header {
  background: -moz-linear-gradient(top, black, #112233);
}

/* line 8, ../scss/sass/_headers.scss */
section[role=region] header menu[type="toolbar"] {
  text-align: right;
  float: right;
  margin-right: 0.4em;
}

/* line 14, ../scss/sass/_headers.scss */
section[role=region] header nav {
  float: left;
  padding: 0 5px;
}

/* line 18, ../scss/sass/_headers.scss */
section[role=region] header nav a {
  color: #999;
}

/* line 22, ../scss/sass/_headers.scss */
section[role=region] header menu .lsf {
  font-size: 1.8em;
}

/* line 25, ../scss/sass/_headers.scss */
section[role=region] header a {
  color: #FFF;
}

/* line 29, ../scss/sass/_headers.scss */
section[role=region] header a.home {
  display: inline-block;
  font-size: 1.8em;
}

/* line 34, ../scss/sass/_headers.scss */
section[role=region] header .titles {
  margin-right: 1.8em;
}

/* line 38, ../scss/sass/_headers.scss */
section[role=region] header .titles h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}

/* line 1, ../scss/sass/_laGrandMere.scss */
html {
  font: normal 18px "mozTT", sans-serif;
}

/* line 5, ../scss/sass/_laGrandMere.scss */
p {
  line-height: 1.5em;
  text-align: center;
}

/* line 10, ../scss/sass/_laGrandMere.scss */
p a {
  text-decoration: underline;
}

/* line 15, ../scss/sass/_laGrandMere.scss */
button:active {
  background-color: #008AAA;
}

/* line 19, ../scss/sass/_laGrandMere.scss */
li.active {
  background-color: #008AAA;
}

/* line 23, ../scss/sass/_laGrandMere.scss */
a, a:visited, a:hover {
  color: #000;
}

/* line 27, ../scss/sass/_laGrandMere.scss */
a:active {
  background-color: #008AAA;
}

/* line 31, ../scss/sass/_laGrandMere.scss */
a .lsf.icon {
  display: inline-block;
  width: 2rem;
  text-align: center;
}

/* line 37, ../scss/sass/_laGrandMere.scss */
a[role=button] {
  display: inline-block;
  padding: 5px;
  width: 100%;
}

/* line 43, ../scss/sass/_laGrandMere.scss */
form {
  text-align: center;
}

/* line 47, ../scss/sass/_laGrandMere.scss */
input {
  display: inline-block;
  background: #EEE;
  width: 80%;
  padding: 5px;
  border: 1px solid #123;
  margin: 5px;
}

/* line 57, ../scss/sass/_laGrandMere.scss */
li.list {
  margin: 5px;
  border-bottom: 1px solid #CCC;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3rem 0;
}

/* line 65, ../scss/sass/_laGrandMere.scss */
li.list .title {
  margin-bottom: 2px;
}

/* line 69, ../scss/sass/_laGrandMere.scss */
li.list .title:before {
  display: inline-block;
  color: orange;
  content: "circle ";
  font-family: "LigatureSymbols";
  width: 0.8rem;
}

/* line 78, ../scss/sass/_laGrandMere.scss */
li.list.current:before {
  display: block;
  position: absolute;
  content: 'spark';
  font-family: "LigatureSymbols";
  left: 0rem;
  font-size: 2rem;
}

/* line 87, ../scss/sass/_laGrandMere.scss */
li.list.current .title:before {
  content: "";
}

/* line 91, ../scss/sass/_laGrandMere.scss */
li.list .artist {
  font-size: 0.8rem;
  color: #555;
  padding-left: 0.4rem;
}

/* line 97, ../scss/sass/_laGrandMere.scss */
p.info:before, p.help:before {
  font-family: "LigatureSymbols";
  font-size: 1rem;
}

/* line 102, ../scss/sass/_laGrandMere.scss */
p.info:before {
  content: 'info  ';
}

/* line 105, ../scss/sass/_laGrandMere.scss */
p.help:before {
  content: 'help  ';
}

/* line 111, ../scss/sass/_laGrandMere.scss */
p.info, p.help {
  color: #777777;
  text-align: center;
  font-size: 0.8rem;
}

/* line 119, ../scss/sass/_laGrandMere.scss */
h1.last {
  color: #777777;
}

/* line 124, ../scss/sass/_laGrandMere.scss */
li[role=artist] {
  text-align: left;
}

/* line 129, ../scss/sass/_laGrandMere.scss */
li[role=artist].selected {
  background: #123;
  color: #FFF;
}

/* line 135, ../scss/sass/_laGrandMere.scss */
section[role=filters] {
  position: fixed;
  bottom: 4rem;
  left: 0;
  background: red;
  width: 100%;
  background: #AAA;
  font-style: italic;
  text-align: center;
}
/* line 145, ../scss/sass/_laGrandMere.scss */
section[role=filters] ul {
  text-align: center;
  width: 100%;
}
/* line 149, ../scss/sass/_laGrandMere.scss */
section[role=filters] li {
  padding: 0.4rem;
  text-align: center;
  display: inline-block;
}

/* line 156, ../scss/sass/_laGrandMere.scss */
form[role=search] input {
  text-align: left;
}

/* line 159, ../scss/sass/_laGrandMere.scss */
form[role=search] input {
  text-align: center;
  border: 1px solid #789;
  display: inline;
}

/* line 164, ../scss/sass/_laGrandMere.scss */
form[role=search] input {
  width: 70%;
}

/* line 167, ../scss/sass/_laGrandMere.scss */
form[role=search] input[type=submit] {
  width: 2rem;
  display: inline;
}

/* line 172, ../scss/sass/_laGrandMere.scss */
.fifty {
  display: inline-block;
  width: 49%;
}

/* line 177, ../scss/sass/_laGrandMere.scss */
section[role=main] h1 {
  margin-top: 1rem;
  border-bottom: 1px solid orange;
  text-align: left;
  font-size: 1.2rem;
}
